<mat-toolbar>
  <p>GYM TONIC VIVES 
    <mat-icon class="mat-icon-rtl-mirror"></mat-icon>
    <mat-icon class="mat-icon-rtl-mirror-2"></mat-icon>
    <mat-icon class="mat-icon-rtl-mirror-3"></mat-icon>
  </p>
</mat-toolbar>
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos Personales</ng-template>
      <mat-form-field>
        <mat-label>Nombre Completo</mat-label>
        <input matInput placeholder="Nombre completo" type="text" formControlName="nombre">
      </mat-form-field>
      <p *ngIf="this.firstFormGroup.get('nombre')?.errors?.['required']">- El nombre es un campo requerido.</p>
      <p *ngIf="this.firstFormGroup.get('nombre')?.errors?.['minlength']">- El nombre debe tener un mínimo de 5 caracteres.</p>
      <p *ngIf="this.firstFormGroup.get('nombre')?.errors?.['maxlength']">- El nombre debe tener un maximo de 30 caracteres.</p>
      <mat-form-field>
        <mat-label>Direccion</mat-label>
        <input matInput placeholder="Direccion" type="text" formControlName="direccion">
      </mat-form-field>
      <p *ngIf="this.firstFormGroup.get('direccion')?.errors?.['required']">- La direccion es un campo requerido.</p>
      <p *ngIf="this.firstFormGroup.get('direccion')?.errors?.['minlength']">- La direccion debe tener un mínimo de 8 caracteres.</p>
      <p *ngIf="this.firstFormGroup.get('direccion')?.errors?.['maxlength']">- La direccion debe tener un maximo de 50 caracteres.</p>
      <mat-form-field>
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="Telefono"  type="text"  formControlName="telefono" (keydown)="onKeyDown($event)" >
      </mat-form-field>
      <p *ngIf="this.firstFormGroup.get('telefono')?.errors?.['required']">- El telefono es un campo requerido.</p>
      <p *ngIf="this.firstFormGroup.get('telefono')?.errors?.['pattern']">- El telefono debe empezar en 6, 7, 8 o 9 seguido de 8 números.</p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email"  type="text"  formControlName="email">
      </mat-form-field>
      <p *ngIf="this.firstFormGroup.get('email')?.errors?.['required']">- El email es un campo requerido.</p>
      <p *ngIf="this.firstFormGroup.get('email')?.errors?.['email']">- El email debe ser valido.</p>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña"  type="password" formControlName="contraseña">
      </mat-form-field>
      <p *ngIf="this.firstFormGroup.get('contraseña')?.errors?.['required']">- La contraseña es un campo obligatorio.</p> 
      <p *ngIf="this.firstFormGroup.get('contraseña')?.errors?.['pattern']">- La contraseña debe tener: 
        <br>Minimo 8 caracteres
        <br>Maximo 15 caracteres
        <br>Al menos una letra mayúscula
        <br>Al menos una letra minucula
        <br>Al menos un dígito
        <br>No espacios en blanco
        <br>Al menos 1 caracter especial</p>
      <div [hidden]="this.firstFormGroup.get('contraseña')?.invalid">
      <mat-form-field >
        <mat-label>Repetir Contraseña</mat-label>
        <input matInput placeholder="Repetir contraseña"  type="password"  formControlName="repetirContraseña">
      </mat-form-field>
      </div>
      <div [hidden]="this.firstFormGroup.get('contraseña')?.invalid">
      <p *ngIf="this.firstFormGroup.get('repetirContraseña')?.errors?.['required']">- Repetir contraseña es un campo obligatorio.</p> 
      <p *ngIf="this.firstFormGroup.get('repetirContraseña')?.errors?.['iguales']">- Las contraseñas no coinciden.</p> 
      </div>
      <div class="boton">
        <button mat-button matStepperNext color="primary">SIGUIENTE</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Finalizar formulario">
    <form [formGroup]="secondFormGroup">
      <div style="text-align: center;"> 
        <h2>¡Apuntate a nuestras clases!</h2>
      </div>
      <mat-form-field>
        <mat-select placeholder="CLASES" formControlName="clases" multiple style="text-align: center;">
          <mat-option *ngFor="let op of clases" [value]="op">
            {{op}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="this.secondFormGroup.get('clases')?.errors?.['required']" style="text-align: center;">- Elige al menos 1 clase.</p> 
      <section style="margin-top: 25px;">
        <h3 style="margin-bottom: -5px;">Sexo</h3>
        <mat-radio-group name="sexo" formControlName="sexo" >
          <mat-radio-button name="sexo" value="Hombre" style="margin: 10px">Hombre</mat-radio-button>
          <mat-radio-button name="sexo" value="Mujer" style="margin: 10px">Mujer</mat-radio-button>
        </mat-radio-group>
        <p *ngIf="this.secondFormGroup.get('sexo')?.errors?.['required']">- Debe seleccionar el sexo.</p> 
        <mat-checkbox formControlName="condiciones" style="margin-top: 25px;"><span style="font-size: 15px">Aceptar condiciones</span></mat-checkbox>
        <p *ngIf="this.secondFormGroup.get('condiciones')?.errors?.['required']">- Debe aceptar las condiciones.</p> 
      </section>
      <div class="finalizar" style="text-align: center;">
        <button mat-raised-button color="primary" (click)="mensaje()" >INSCRIBIRSE</button>
      </div>
      <div class="boton" >
        <button mat-button matStepperPrevious color="primary">ANTERIOR</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>